<h1 class="individual_project_title"><%= @project.title %> (<%= @project.tiles.count%>/<%= @project.length%>)</h1>

  <div class="individual-project-container">
    <div class="top"
    <% @tiles.each do |tile| %>
      <!-- <%= tile.image_data %>  -->
      <img class="project_page_view_thumbs" src='<%= tile.image_data %>' />
    <% end %>
    </div>

  <div class="bottom"> 
   <% unless @project.completed? %>
    <button class="new_story" name="button" data-toggle="modal" data-target="#myModal">Add To Story</button>
  <% end %> 
  </div>
</div>


<!-- Modal -->
<div class="modal  bs-example-modal-lg fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   
  
      <div class="modal-body">
        <div class= "continue_canvas" id='draw'></div>
    <form class="new_story" id="save" name="<%= @project.id%>" action="/projects/<%= @project.id %>" method="post">
    <input name="image_data" id="image_data" type="text" style=" display:none">
    <button id="button_show" class="new_story">Submit</button> 
    </form>
      </div>
    </div>
 </div>




<!-- 
<form class="title_input" id="save" action="/project" method="post">
      <input class="add_title" name="title" type="text" placeholder="Your Comic Strip Title">
      <input name="image_data" id="image_data" type="text" style="display:none">
      <input class="new_story" type="submit">
    </form> -->





