<h1 class="individual_project_title"><%= @project.title %></h1>

  <div class="individual-project-container">
    <div class="top"
    <% @tiles.each do |tile| %>
      <!-- <%= tile.image_data %>  -->
      <img class="project_page_view_thumbs" src='<%= tile.image_data %>' />
    <% end %>
    </div>

  <!-- <div class="bottom">  -->

    <% if @project.completed? %> This comic's rating is <%= @project.ratings.average(:number_rating) || 0 %> out of 10! <% end %>
   <% unless @project.completed? %>
    <button class="new_story" name="button" data-toggle="modal" data-target="#myModal">Add To Story</button>
  <% end %> 
  <% unless current_user.rated_projects.include?(@project) || !@project.completed? %>
  <form action='/projects/<%= @project.id %>/rate' method="post">
    <select name="number_rating">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>

  <input type="submit" value="rate"/>
</form>
<% else %> 
  "Don't work on master." - Don
  <% end %>
  </div>
</div>


<!-- Modal -->
<div class="modal  bs-example-modal-lg fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   
  
      <div class="modal-body">
        <div class= "continue_canvas" id='draw'></div>
    <form class="new_story" id="save" name="<%= @project.id%>" action="/projects/<%= @project.id %>" method="post">
    <input name="image_data" id="image_data" type="text" style=" display:none">
    <button id="button_show" class="new_story">Submit</button> 
    </form>
      </div>
    </div>
 </div>




<!-- 
<form class="title_input" id="save" action="/project" method="post">
      <input class="add_title" name="title" type="text" placeholder="Your Comic Strip Title">
      <input name="image_data" id="image_data" type="text" style="display:none">
      <input class="new_story" type="submit">
    </form> -->





